<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString"
        connectionString="data source=qualitycentre;initial catalog=easyjet_ej_easyjet2_db;integrated security=true"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>